body {
    background-color: #E6E6E6;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 530px;
}

.inner-card {
    height: 300px;
}

.sidebar-card {
    background-color: #0B2F6A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.sidebar-card img {
    height: 55px;
    margin-top: 10px;

}

.sidebar-card a {
    cursor: default;
    color: lightgray;
    text-decoration: none;
    font-family: 'RUBIK';
    margin-left: 20px;

}

.card-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 110px;
    height: 140px;
}

.card-links-inner-div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.card-link-active {
    color: white !important;
    opacity: 1 !important;
}

.link-bark {
    opacity: 0;
    background-color: white;
    width: 5px;
    height: 15px;
}

.card-right-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/brainbg.jpg) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    border-radius: 3%
}

.card-bg {
    background-image: none !important;
    background-color: #d3d3d3a1 !important;
}

.card-right-div img {
    height: 100%;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.card-body span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-group {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group a {
    color: black;
}

.list-group a:hover {
    color: grey;
}

.card-title {
    font-family: 'PT', sans-serif;
    font-weight: bold;
}

.card-text {
    font-family: 'PT', sans-serif;
}

.button-start {
    background-color: #FF5300;
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.button-start:hover {
    transition: all 225ms ease-in-out;
    background-color: #FF732F;
}

.question-letter {
    color: black;
    height: 31px !important;
    width: 31px;
    position: absolute;
    left: 10px;
    top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(180, 180, 180, 1);
    font-weight: bold;
    font-family: 'RUBIK', sans-serif;
}

.question-link span:nth-child(2) {
    margin-left: 40px;
}

.question-link {
    text-align: left;
    border-color: transparent;
    border-radius: 0% !important;
    font-size: 17px;
    font-weight: 600;
}

.question-link-focus {
    background-color: rgba(69, 215, 81, 0.8);
    border-color: transparent;
}

.question-letter-focus {
    background-color: rgba(93, 169, 96, 0.8);
    color: white !important;
    opacity: 0.8 !important;
}