.all-content {
    background-color: #FDF9EE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.card {
    transition: all 225ms ease-in-out;
    width: 600px;
    min-height: 375px;
}

.inner-card {
    min-height: 375px;
}

.sidebar-card {
    background-color: #0B2F6A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

.sidebar-card img {
    height: 60px;
    margin-top: 15px;
}

.sidebar-card a {
    color: lightgray;
    text-decoration: none;
    font-family: 'RUBIK', sans-serif;
    margin-left: 20px;
}

.card-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: inherit;
    height: 150px;
}

.card-links-inner-div {
    display: flex;
    align-items: center;
}

.card-link-active {
    color: white !important;
    opacity: 1 !important;
}

.link-bark {
    opacity: 0;
    background-color: white;
    width: 5px;
    height: 20px;
}

.counter {
    color: lightgray;
    font-size: 13px;
    font-family: 'RUBIK', sans-serif;
    margin-right: 20px;
    margin-top: 15px;
}

.card-right-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/brainbg.jpg) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.card-bg-white {
    background-image: none !important;
    background-color: #F6F6F6 !important;
}


.card-body {
    display: flex;
    flex-direction: column;
}

.result-card-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.transparent-btn-replay {
    border: none;
}

.transparent-btn-replay:hover {
    background-color: #ffffff42;
    color: #0d6efd;
}

.list-group a {
    color: black;
    margin-top: 10px;
}

.list-group a:hover {
    color: grey;
}

.card-title {
    font-family: 'PT', sans-serif;
    font-weight: bold;
}

.card-text {
    font-family: 'PT', sans-serif;
    font-size: 18px;
}

.button-start {
    font-size: 1.1rem !important;
    background-color: #FF4D12;
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.button-start:hover {
    transition: all 225ms ease-in-out;
    background-color: #FF732F;
}

.button-start:hover img {
    transition: all 225ms ease-in-out;
    filter: invert()
}

.start-btn-arrow {
    height: 23px !important;
    position: absolute;
    right: 10px;
    top: 8px;
}

.question {
    font-family: 'RUBIK', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.answer-letter {
    color: black;
    height: 31px !important;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5D5D5;
    font-weight: 600;
    font-family: 'RUBIK', sans-serif;
}

.answer-link {
    text-align: left;
    border-color: transparent;
    border-radius: 0% !important;
    font-size: 17px;
    font-weight: 400;
    font-family: 'RUBIK', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
}

.answer-div {
    margin-left: 20px;
    font-family: 'RUBIK', sans-serif;
    font-size: 18px;
}

.right-answer-link {
    background-color: #B6F59A;
    border-color: transparent;
}

.right-answer-letter {
    background-color: #4ABE22;
    color: white !important;
    opacity: 0.8 !important;
}

.wrong-answer-link {
    background-color: #FFA3A4;
    border-color: transparent;
}

.wrong-answer-letter {
    background-color: #F61919;
    color: white !important;
    opacity: 0.8 !important;
}

.result-headline {
    font-weight: bold;
    font-family: 'RUBIK', sans-serif;
    font-size: 18px;
}

.result-text {
    font-weight: bold;
    font-family: 'RUBIK', sans-serif;
    font-size: 15px;
    color: #E7873F;
}

.result {
    font-weight: bold;
    font-family: 'RUBIK', sans-serif;
    font-size: 15px;
}

.result-img {
    height: 100px !important;
}

.share-replay-btn {
    font-family: 'RUBIK', sans-serif;
    width: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.share-btn {
    background-color: #0a25c1;
}

.tropy {
    width: 100px;
    position: absolute;
    right: 0px;
    top: 50%;
}

.options {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 25px;
}

.options:hover {
    transform: rotate(45deg) scale(1.2);
    transition: all 225ms ease-in-out
}

.options:active {
    transform: rotate(90deg) scale(1);
    transition: all 225ms ease-in-out
}

.hidden-options {
    background-color: #F6F6F6;
    height: 60px;
    width: 180px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid rgb(211, 211, 211);
    border-bottom: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
}

.hidden-options span {
    font-size: 12px;
    font-family: 'RUBIK', sans-serif;
}

.show-options {
    transform: translateY(-61px);
    transition: all 225ms ease-out;
}

.hide-options {
    transform: translateY(0px);
    transition: all 225ms ease-in;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.d-none {
    display: none;
}

.pointer-events-none {
    pointer-events: none;
}

.card-links-mobile {
    width: 16em !important;
}

.footer {
    font-family: 'RUBIK', sans-serif;
    font-size: 15px;
}

.copy-check {
    font-size: 0.9em;
}

.shadow-screen-privacy {
    background-color: rgba(150, 150, 150, 0.869);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

.shadow-screen-impressum {
    background-color: rgba(150, 150, 150, 0.869);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 3;
}

.privacy-policy {
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 1px 3px 8px 3px gray;
    height: 80%;
    width: 80%;
    font-size: 12px;
    padding: 15px;
}

.impressum {
    padding: 20px;
    background-color: white;
}

.close-button-div {
    display: flex;
    justify-content: end;
}

.close-button {
    cursor: pointer;
    height: 25px;
}